* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  @include responsive(1300px) {
    font-size: 58%;
  }
  @include responsive(990px) {
    font-size: 62.5%;
  }

  @include responsive(420px) {
    font-size: 58%;
  }
}

html,
body {
  overflow-x: hidden;
}

button {
  background-color: transparent;
  cursor: pointer;
}
