.s-filter {

  .container {
    display: grid;
    grid-template-columns: 23.9rem 1fr;
    padding-top: 7.4rem;
    padding-bottom: 12.9rem;

    .select-filter {
      ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        li {
          padding-bottom: 4.2rem;

          button {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 2.3rem;

            p {
              font-family: "Inter", sans-serif;
              font-weight: 600;
              font-size: 1.5rem;
              line-height: 150%;
              color: var(--type-gray-600);
              transition: all .3s;
            }

            &.normal,
            &.water,
            &.steel,
            &.shadow,
            &.rock,
            &.psychic,
            &.poison,
            &.ice,
            &.ground,
            &.grass,
            &.ghost,
            &.flying,
            &.fire,
            &.fighting,
            &.fairy,
            &.electric,
            &.dragon,
            &.dark,
            &.bug,
            &.all {

              transition: all .3s;

              .hover-img {
                display: none;
              }

              &:hover {
                margin-left: 1rem;

                .normal-img {
                  display: none;
                }

                .hover-img {
                  display: block;
                }
              }
            }

            /* Tipo Normal */
            &.normal {
              &:hover {
                p {
                  color: var(--type-color-normal);
                }
              }
            }

            /* Tipo Bug */
            &.bug {
              &:hover {
                p {
                  color: var(--type-color-bug);
                }
              }
            }

            /* Tipo Dark */
            &.dark {
              &:hover {
                p {
                  color: var(--type-color-dark);
                }
              }
            }

            /* Tipo Dragon */
            &.dragon {
              &:hover {
                p {
                  color: var(--type-color-dragon);
                }
              }
            }

            /* Tipo Electric */
            &.electric {
              &:hover {
                p {
                  color: var(--type-color-electric);
                }
              }
            }

            /* Tipo Fairy */
            &.fairy {
              &:hover {
                p {
                  color: var(--type-color-fairy);
                }
              }
            }

            /* Tipo Fighting */
            &.fighting {
              &:hover {
                p {
                  color: var(--type-color-fighting);
                }
              }
            }

            /* Tipo Ground */
            &.ground {
              &:hover {
                p {
                  color: var(--type-color-ground);
                }
              }
            }

            /* Tipo Ice */
            &.ice {
              &:hover {
                p {
                  color: var(--type-color-ice);
                }
              }
            }

            /* Tipo Poison */
            &.poison {
              &:hover {
                p {
                  color: var(--type-color-poison);
                }
              }
            }

            /* Tipo Psychic */
            &.psychic {
              &:hover {
                p {
                  color: var(--type-color-psychic);
                }
              }
            }

            /* Tipo Rock */
            &.rock {
              &:hover {
                p {
                  color: var(--type-color-rock);
                }
              }
            }

            /* Tipo Ghost */
            &.ghost {
              &:hover {
                p {
                  color: var(--type-color-ghost);
                }
              }
            }

            /* Tipo Grass */
            &.grass {
              &:hover {
                p {
                  color: var(--type-color-grass);
                }
              }
            }

            /* Tipo Steel */
            &.steel {
              &:hover {
                p {
                  color: var(--type-color-steel);
                }
              }
            }

            /* Tipo Water */
            &.water {
              &:hover {
                p {
                  color: var(--type-color-water);
                }
              }
            }

            /* Tipo Fire */
            &.fire {
              &:hover {
                p {
                  color: var(--type-color-fire);
                }
              }
            }

            /* Tipo Flying */
            &.flying {
              &:hover {
                p {
                  color: var(--type-color-flying);
                }
              }
            }

            /* Tipo Shadow */
            &.shadow {
              &:hover {
                p {
                  color: var(--type-color-shadow);
                }
              }
            }

          }
        }
      }
    }

    .result-filter {
      position: relative;
      width: 100%;
      border-left: 0.1rem solid var(--type-gray-800);
      padding-left: 8.1rem;

      .result-top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .result {
          display: flex;
          align-items: flex-start;
          gap: 1.8rem;

          .logo {
            img {
              width: 2rem;
              height: 2rem;
            }
          }

          .text {
            h3 {
              font-family: "Montserrat", sans-serif;
              font-weight: 600;
              font-size: 1.8rem;
              line-height: 150%;
              color: var(--type-gray-700);
            }

            p {
              font-family: "Inter", sans-serif;
              font-size: 1.6rem;
              line-height: 150%;
              color: var(--type-gray-200);
            }
          }
        }

        .order {
          display: flex;
          align-items: center;
          gap: 1.6rem;

          button {
            display: flex;
            align-items: center;
            gap: 1.6rem;

            p {
              font-family: "Inter", sans-serif;
              font-weight: 500;
              font-size: 1.6rem;
              line-height: 150%;
              color: var(--type-gray-200);
            }
          }
        }
      }

      .result-bottom {
        margin-top: 7.9rem;

        .cards {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 3.2rem;

          .card {
            width: 100%;
            max-width: 28rem;
            background: #ffffff;
            border: 0.1rem solid rgba(183, 189, 193, .3);
            box-shadow: 0rem 1rem 5.1rem -0.5rem rgba(183, 189, 193, 0.3);
            border-radius: 1.2rem;
            transition: all .3s;
            overflow: hidden;
            padding-top: 1.8rem;
            padding-bottom: 2.4rem;

            .pokemon-img {
              img {
                width: 20rem;
                height: 20rem;
                margin: 0 auto;
                object-fit: contain;

                &.fire {
                  background: url(../../assets/img/Pokemons-bg-circle/fire.png) no-repeat center center;
                  background-size: contain;
                }

                &.grass {
                  background: url(../../assets/img/Pokemons-bg-circle/plants.png) no-repeat center center;
                  background-size: contain;
                }

                &.water {
                  background: url(../../assets/img/Pokemons-bg-circle/water.png) no-repeat center center;
                  background-size: contain;
                }
              }
            }

            .pokemon-info {
              width: 100%;
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
              padding: 0 2.8rem;
              margin-top: 3.5rem;

              .number-name {
                @include flex(column, flex-start, flex-start);

                p {
                  font-family: 'Inter', sans-serif;
                  font-weight: 500;
                  font-size: 1.5rem;
                  line-height: 150%;
                  color: var(--type-gray-200);
                  margin-bottom: .8rem;
                }

                h3 {
                  font-family: 'Montserrat', sans-serif;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 2rem;
                  color: var(--type-gray-100);
                }
              }

              .pokemon-type {
                img {
                  width: 2.2rem;
                  height: 2.2rem;
                }
              }
            }

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }

      .load-more {
        width: 100%;
        @include center();
        position: absolute;
        bottom: -8rem;

        .btn-load-more {
          font-family: 'Montserrat', sans-serif;
          font-weight: 600;
          font-size: 1.6rem;
          letter-spacing: -0.01em;
          color: var(--type-blue-200);
          background-color: rgba(63, 93, 179, 0.1);
          border-radius: 0.6rem;
          padding: 1.4rem 2rem;
          transition: all .3s;

          &:hover {

            color: white;
            background-color: var(--type-blue-200);
          }
        }
      }
    }

  }
}

@include responsive(1100px) {
  .s-filter {
    .container {
      grid-template-columns: 13.9rem 1fr;

      .result-filter {
        padding-left: 3.1rem;
      }
    }
  }
}

@include responsive(900px) {
  .s-filter {
    .container {
      padding-top: 1.4rem;
      grid-template-columns: 1fr;

      .select-filter {
        display: none;
      }

      .result-filter {
        padding-left: 0;
        border-left: none;
      }
    }
  }
}

@include responsive(700px) {
  .s-filter {
    .container {

      .result-filter {

        .result-bottom {
          .cards {
            grid-template-columns: repeat(2, 1fr);

            .card {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

@include responsive(480px) {
  .s-filter {
    .container {

      .result-filter {

        .result-top {
          flex-direction: column;
          gap: 5rem;
          align-items: center;
        }

        .result-bottom {
          .cards {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
}