.s-search {
  background: linear-gradient(
    284.15deg,
    #eff3f6 15.54%,
    rgba(239, 243, 246, 0) 86.34%
  );
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28.8rem;

    max-width: 144rem;
    .internal-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .text {
        h2 {
          width: 25.5rem;
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          font-size: 32px;
          line-height: 39px;
          letter-spacing: -0.01em;
          color: $cor30;
        }
      }
      .search {
        display: flex;
        align-items: center;
        background: $cor33;
        border-radius: 5rem;
        z-index: 2;
        img {
          width: 50px;
          width: 50px;
          margin: 1rem;
          background: rgba(158, 185, 225, 0.1);
          border-radius: 5rem;
        }
        .input-search {
          width: 28rem;
          height: 5.6rem;
          border-radius: 5rem;
          margin-right: 1rem;
        }
      }
    }
  }
}