.s-modal {
  @include flex(row, center, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;

  &[typePokemonModal="grass"] {
    .box {
      .left-container {
        background-image: url("../../assets/img/Modal/bg-bug.svg")
      }
    }
  }

  &[typePokemonModal="dark"] {
    .box {
      .left-container {
        background-image: url("../../assets/img/Modal/bg-dark.svg")
      }
    }
  }

  &[typePokemonModal="dragon"] {
    .box {
      .left-container {
        background-image: url("../../assets/img/Modal/bg-dragon.svg")
      }
    }
  }

  &[typePokemonModal="electric"] {
    .box {
      .left-container {
        background-image: url("../../assets/img/Modal/bg-electric.svg")
      }
    }
  }

  &[typePokemonModal="fairy"] {
    .box {
      .left-container {
        background-image: url("../../assets/img/Modal/bg-fairy.svg")
      }
    }
  }

  &[typePokemonModal="fighting"] {
    .box {
      .left-container {
        background-image: url("../../assets/img/Modal/bg-fighting.svg")
      }
    }
  }

  &[typePokemonModal="ground"] {
    .box {
      .left-container {
        background-image: url("../../assets/img/Modal/bg-ground.svg")
      }
    }
  }

  &[typePokemonModal="ice"] {
    .box {
      .left-container {
        background-image: url("../../assets/img/Modal/bg-ice.svg")
      }
    }
  }

  &[typePokemonModal="normal"] {
    .box {
      .left-container {
        background-image: url("../../assets/img/Modal/bg-normal.svg")
      }
    }
  }

  &[typePokemonModal="poison"] {
    .box {
      .left-container {
        background-image: url("../../assets/img/Modal/bg-poison.svg")
      }
    }
  }

  &[typePokemonModal="psychic"] {
    .box {
      .left-container {
        background-image: url("../../assets/img/Modal/bg-psychic.svg")
      }
    }
  }

  &[typePokemonModal="rock"] {
    .box {
      .left-container {
        background-image: url("../../assets/img/Modal/bg-rock.svg")
      }
    }
  }

  &[typePokemonModal="ghost"] {
    .box {
      .left-container {
        background-image: url("../../assets/img/Modal/bg-ghost.svg")
      }
    }
  }

  &[typePokemonModal="steel"] {
    .box {
      .left-container {
        background-image: url("../../assets/img/Modal/bg-steel.svg")
      }
    }
  }

  &[typePokemonModal="flying"] {
    .box {
      .left-container {
        background-image: url("../../assets/img/Modal/bg-flying.svg")
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .box {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 75rem;
    height: 52.8rem;
    background-color: white;
    box-shadow: 0px 10px 40px rgba(13, 12, 71, 0.05);
    border-radius: 1.6rem;
    z-index: 1;
    transform: translateY(4rem);
    transition: transform .3s ease-in;

    .close {
      @include center();
      position: absolute;
      top: -4.4rem;
      right: 0;
      width: 3.6rem;
      height: 3.6rem;
      background-color: white;
      border-radius: 0.8rem;
      padding: .5rem;
    }

    .left-container {
      position: relative;
      width: 100%;
      max-width: 19.1rem;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      border-radius: 1.6rem 0 0 1.6rem;

      .icon {
        @include center();
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 3.4rem;
        height: 3.4rem;
        background-color: #FFFFFF;
        border-radius: 50%;
        padding: .75rem;
      }

      .pokemon {
        position: absolute;
        bottom: 13.1rem;
        left: 1.4rem;
        width: 20.2rem;
      }
    }

    .right-container {
      width: 100%;
      padding: 3.5rem 7.2rem 2.9rem 7.4rem;

      .name {
        display: flex;
        align-items: baseline;
        gap: .8rem;
        margin-bottom: 1rem;

        h2 {
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          font-size: 2.8rem;
          line-height: 3.4rem;
          letter-spacing: -0.01em;
          color: var(--type-gray-100);
        }

        span {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 2rem;
          letter-spacing: -0.01em;
          color: var(--type-gray-200);
        }
      }

      .type {
        display: flex;
        gap: 1rem;
        width: 100%;
        margin-bottom: 3.2rem;
      }

      .info {
        display: flex;
        gap: 4.8rem;
        margin-bottom: 3.2rem;

        li {
          @include flex(column, flex-start, flex-start);

          span {
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 1.6rem;
            text-align: center;
            letter-spacing: -0.01em;
            color: var(--type-gray-200);
            margin-bottom: .4rem;
          }

          strong {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.7rem;
            letter-spacing: -0.01em;
            color: var(--type-gray-100);

          }
        }
      }

      .weaknesses {
        margin-bottom: 3.2rem;

        h4 {
          font-family: 'Inter', sans-serif;
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 1.6rem;
          letter-spacing: -0.01em;
          color: var(--type-gray-700);
          margin-bottom: 1.6rem;
        }

        ul {
          display: flex;
          gap: 1rem;
        }
      }

      .stats {
        h5 {
          font-family: 'Inter', sans-serif;
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 1.6rem;
          letter-spacing: -0.01em;
          color: var(--type-gray-700);
          margin-bottom: 1.6rem;
        }

        .all {
          display: flex;
          flex-direction: column;
          gap: 1.6rem;

          .item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
              display: block;
              width: 9rem;
              font-family: 'Inter', sans-serif;
              font-weight: 400;
              font-size: 1.6rem;
              line-height: 1.5rem;
              color: var(--type-gray-200);
            }

            .bar-status {
              position: relative;
              width: 100%;
              max-width: 28.3rem;
              height: 0.3rem;
              background-color: var(--type-gray-1000);

              .bar {
                position: absolute;
                top: 0;
                left: 0;
                width: 39%;
                height: 100%;
                z-index: 0;
                background-color: var(--type-red-300);
                border-radius: .5rem;
              }

              .separator {
                position: absolute;
                top: 0;
                left: 0;
                @include center();
                width: 100%;
                gap: 5.4rem;
                border-radius: .5rem;

                li {
                  width: 0.6rem;
                  height: 0.3rem;
                  background-color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}

.open-modal {
  .s-modal {
    opacity: 1;
    pointer-events: all;

    .box {
      transform: translateY(0);
    }
  }
}

@include responsive(1280px) {
  .s-modal {
    .box {
      max-width: 52.8rem;
      height: auto;
      flex-direction: column;

      .close {
        top: 2rem;
        left: 2rem;
        z-index: 1001;
      }

      .left-container {
        max-width: 100%;
        background-size: cover;
        border-radius: 1.6rem 1.6rem 0 0;
        margin-bottom: 5.5rem;

        .pokemon {
          position: relative;
          top: 4.7rem;
          left: initial;
          margin: 0 auto;
        }
      }

      .right-container {

        .name,
        .type {
          justify-content: center;
        }

        .info {
          @include center();
          flex-wrap: wrap;
          gap: 1.7rem;
          margin: 0 auto;

          li {
            flex-direction: row;
            gap: .4rem;
          }
        }

        .weaknesses {
          @include center();
          flex-direction: column;
          margin-top: 3.2rem;

          ul {
            justify-items: center;
          }
        }

        .stats {
          h5 {
            text-align: center;
          }
        }
      }
    }
  }
}

@include responsive(800px) {
  .s-modal {
    .box {

      .left-container {
        margin-bottom: 0;

        .pokemon {
          top: .7rem;

          img {
            width: 70%;
            margin: 0 auto;
          }
        }
      }

      .right-container {

        .weaknesses {
          h4 {
            display: none;
          }
        }

        .stats {
          h5 {
            display: none;
          }
        }
      }
    }
  }
}

@include responsive(480px) {
  .s-modal {
    .box {
      max-width: 95%;

      .right-container {
        padding: 2rem;

        .weaknesses {
          h4 {
            display: block;
          }
        }

        .stats {
          h5 {
            display: block;
          }
        }
      }
    }
  }
}

@include responsive(430px) {
  .s-modal {
    .box {
      max-width: 95%;

      .right-container {
        .stats {
          .all {
            .item {
              .bar-status {
                max-width: 25rem;

                .bar {
                  width: 30%;
                }
              }
            }
          }
        }
      }
    }
  }
}