.s-filter {

  .container {
    display: grid;
    grid-template-columns: 23.9rem 1fr;
    padding-top: 7.4rem;
    padding-bottom: 12.9rem;

    .select-filter {
      ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        li {
          padding-bottom: 4.2rem;

          button {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 2.3rem;

            svg {
              width: 2.8rem;
              height: 2.8rem;
              transition: all .3s;

              path {
                fill: var(--type-gray-300);
                transition: all .3s;
              }

              circle {
                stroke: var(--type-gray-300);
                fill: white;
                transition: all .3s;
              }
            }

            p {
              font-family: "Inter", sans-serif;
              font-weight: 600;
              font-size: 1.5rem;
              line-height: 150%;
              color: var(--type-gray-600);
              transition: all .3s;
            }
          }

          &:nth-child(1) {
            svg {
              path {
                fill: var(--type-gray-300);
                stroke: white;
              }

              circle {
                stroke: white;
                fill: var(--type-gray-300);
              }
            }

            &:hover {
              svg {
                path {
                  fill: var(--type-color-all);
                  stroke: white;
                }

                circle {
                  stroke: white;
                  fill: var(--type-color-all);
                }
              }

              p {
                color: var(--type-color-all);

              }
            }

            .active-button {
              svg {
                path {
                  fill: var(--type-color-all);
                  stroke: white;
                }

                circle {
                  stroke: white;
                  fill: var(--type-color-all);
                }
              }

              p {
                color: var(--type-color-all);
              }
            }
          }

          &:nth-child(2) {
            &:hover {
              svg {
                path {
                  fill: var(--type-color-ghost);
                }

                circle {
                  stroke: var(--type-color-ghost);
                  fill: white;
                }
              }

              p {
                color: var(--type-color-ghost);

              }
            }

            .active-button {
              svg {
                path {
                  fill: var(--type-color-ghost);
                  stroke: white;
                }

                circle {
                  stroke: white;
                  fill: var(--type-color-ghost);
                }
              }

              p {
                color: var(--type-color-ghost);
              }
            }
          }

          &:nth-child(3) {
            &:hover {
              svg {
                path {
                  fill: var(--type-color-ground);
                }

                circle {
                  stroke: var(--type-color-ground);
                  fill: white;
                }
              }

              p {
                color: var(--type-color-ground);

              }
            }

            .active-button {
              svg {
                path {
                  fill: var(--type-color-ground);
                  stroke: white;
                }

                circle {
                  stroke: white;
                  fill: var(--type-color-ground);
                }
              }

              p {
                color: var(--type-color-ground);
              }
            }
          }

          &:nth-child(4) {
            &:hover {
              svg {
                path {
                  fill: var(--type-color-grass);
                }

                circle {
                  stroke: var(--type-color-grass);
                  fill: white;
                }
              }

              p {
                color: var(--type-color-grass);

              }
            }

            .active-button {
              svg {
                path {
                  fill: var(--type-color-grass);
                  stroke: white;
                }

                circle {
                  stroke: white;
                  fill: var(--type-color-grass);
                }
              }

              p {
                color: var(--type-color-grass);
              }
            }
          }

          &:nth-child(5) {
            &:hover {
              svg {
                path {
                  fill: var(--type-color-dragon);
                }

                circle {
                  stroke: var(--type-color-dragon);
                  fill: white;
                }
              }

              p {
                color: var(--type-color-dragon);

              }
            }

            .active-button {
              svg {
                path {
                  fill: var(--type-color-dragon);
                  stroke: white;
                }

                circle {
                  stroke: white;
                  fill: var(--type-color-dragon);
                }
              }

              p {
                color: var(--type-color-dragon);
              }
            }
          }

          &:nth-child(6) {
            &:hover {
              svg {
                path {
                  fill: var(--type-color-steel);
                }

                circle {
                  stroke: var(--type-color-steel);
                  fill: white;
                }
              }

              p {
                color: var(--type-color-steel);

              }
            }

            .active-button {
              svg {
                path {
                  fill: var(--type-color-steel);
                  stroke: white;
                }

                circle {
                  stroke: white;
                  fill: var(--type-color-steel);
                }
              }

              p {
                color: var(--type-color-steel);
              }
            }
          }

          &:nth-child(7) {
            &:hover {
              svg {
                path {
                  fill: var(--type-color-electric);
                }

                circle {
                  stroke: var(--type-color-electric);
                  fill: white;
                }
              }

              p {
                color: var(--type-color-electric);

              }
            }

            .active-button {
              svg {
                path {
                  fill: var(--type-color-electric);
                  stroke: white;
                }

                circle {
                  stroke: white;
                  fill: var(--type-color-electric);
                }
              }

              p {
                color: var(--type-color-electric);
              }
            }
          }

          &:nth-child(8) {
            &:hover {
              svg {
                path {
                  fill: var(--type-color-ice);
                }

                circle {
                  stroke: var(--type-color-ice);
                  fill: white;
                }
              }

              p {
                color: var(--type-color-ice);

              }
            }

            .active-button {
              svg {
                path {
                  fill: var(--type-color-ice);
                  stroke: white;
                }

                circle {
                  stroke: white;
                  fill: var(--type-color-ice);
                }
              }

              p {
                color: var(--type-color-ice);
              }
            }
          }

          &:nth-child(9) {
            &:hover {
              svg {
                path {
                  fill: var(--type-color-fire);
                }

                circle {
                  stroke: var(--type-color-fire);
                  fill: white;
                }
              }

              p {
                color: var(--type-color-fire);

              }
            }

            .active-button {
              svg {
                path {
                  fill: var(--type-color-fire);
                  stroke: white;
                }

                circle {
                  stroke: white;
                  fill: var(--type-color-fire);
                }
              }

              p {
                color: var(--type-color-fire);
              }
            }
          }

          &:nth-child(10) {
            &:hover {
              svg {
                path {
                  fill: var(--type-color-bug);
                }

                circle {
                  stroke: var(--type-color-bug);
                  fill: white;
                }
              }

              p {
                color: var(--type-color-bug);

              }
            }

            .active-button {
              svg {
                path {
                  fill: var(--type-color-bug);
                  stroke: white;
                }

                circle {
                  stroke: white;
                  fill: var(--type-color-bug);
                }
              }

              p {
                color: var(--type-color-bug);
              }
            }
          }

          &:nth-child(11) {
            &:hover {
              svg {
                path {
                  fill: var(--type-color-rock);
                }

                circle {
                  stroke: var(--type-color-rock);
                  fill: white;
                }
              }

              p {
                color: var(--type-color-rock);

              }
            }

            .active-button {
              svg {
                path {
                  fill: var(--type-color-rock);
                  stroke: white;
                }

                circle {
                  stroke: white;
                  fill: var(--type-color-rock);
                }
              }

              p {
                color: var(--type-color-rock);
              }
            }
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }

    .result-filter {
      position: relative;
      width: 100%;
      border-left: 0.1rem solid var(--type-gray-800);
      padding-left: 8.1rem;

      .result-top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .result {
          display: flex;
          align-items: flex-start;
          gap: 1.8rem;

          .logo {
            img {
              width: 2rem;
              height: 2rem;
            }
          }

          .text {
            h3 {
              font-family: "Montserrat", sans-serif;
              font-weight: 600;
              font-size: 1.8rem;
              line-height: 150%;
              color: var(--type-gray-700);
            }

            p {
              font-family: "Inter", sans-serif;
              font-size: 1.6rem;
              line-height: 150%;
              color: var(--type-gray-200);
            }
          }
        }

        .order {
          display: flex;
          align-items: center;
          gap: 1.6rem;

          button {
            display: flex;
            align-items: center;
            gap: 1.6rem;

            p {
              font-family: "Inter", sans-serif;
              font-weight: 500;
              font-size: 1.6rem;
              line-height: 150%;
              color: var(--type-gray-200);
            }
          }
        }
      }

      .result-bottom {
        margin-top: 7.9rem;

        .cards {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 3.2rem;

          .card {
            width: 100%;
            max-width: 28rem;
            background: #ffffff;
            border: 0.1rem solid rgba(183, 189, 193, .3);
            box-shadow: 0rem 1rem 5.1rem -0.5rem rgba(183, 189, 193, 0.3);
            border-radius: 1.2rem;
            transition: all .3s;
            overflow: hidden;
            padding-top: 1.8rem;
            padding-bottom: 2.4rem;

            .pokemon-img {
              img {
                width: 20rem;
                height: 20rem;
                margin: 0 auto;
                object-fit: contain;

                &.fire {
                  background: url(../../assets/img/Pokemons-bg-circle/fire.png) no-repeat center center;
                  background-size: contain;
                }

                &.grass {
                  background: url(../../assets/img/Pokemons-bg-circle/plants.png) no-repeat center center;
                  background-size: contain;
                }

                &.water {
                  background: url(../../assets/img/Pokemons-bg-circle/water.png) no-repeat center center;
                  background-size: contain;
                }
              }
            }

            .pokemon-info {
              width: 100%;
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
              padding: 0 2.8rem;
              margin-top: 3.5rem;

              .number-name {
                @include flex(column, flex-start, flex-start);

                p {
                  font-family: 'Inter', sans-serif;
                  font-weight: 500;
                  font-size: 1.5rem;
                  line-height: 150%;
                  color: var(--type-gray-200);
                  margin-bottom: .8rem;
                }

                h3 {
                  font-family: 'Montserrat', sans-serif;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 2rem;
                  color: var(--type-gray-100);
                }
              }

              .pokemon-type {
                img {
                  width: 2.2rem;
                  height: 2.2rem;
                }
              }
            }

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }

      .load-more {
        width: 100%;
        @include center();
        position: absolute;
        bottom: -8rem;

        .btn-load-more {
          font-family: 'Montserrat', sans-serif;
          font-weight: 600;
          font-size: 1.6rem;
          letter-spacing: -0.01em;
          color: var(--type-blue-200);
          background-color: rgba(63, 93, 179, 0.1);
          border-radius: 0.6rem;
          padding: 1.4rem 2rem;
          transition: all .3s;

          &:hover {

            color: white;
            background-color: var(--type-blue-200);
          }
        }
      }
    }

  }
}

@include responsive(1100px) {
  .s-filter {
    .container {
      grid-template-columns: 13.9rem 1fr;

      .result-filter {
        padding-left: 3.1rem;
      }
    }
  }
}

@include responsive(900px) {
  .s-filter {
    .container {
      padding-top: 1.4rem;
      grid-template-columns: 1fr;

      .select-filter {
        display: none;
      }

      .result-filter {
        padding-left: 0;
        border-left: none;
      }
    }
  }
}

@include responsive(700px) {
  .s-filter {
    .container {

      .result-filter {

        .result-bottom {
          .cards {
            grid-template-columns: repeat(2, 1fr);

            .card {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

@include responsive(480px) {
  .s-filter {
    .container {

      .result-filter {

        .result-top {
          flex-direction: column;
          gap: 5rem;
          align-items: center;
        }

        .result-bottom {
          .cards {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
}