.s-filter {

  .container {
    display: grid;
    grid-template-columns: 23.9rem 1fr;
    padding-top: 7.4rem;
    padding-bottom: 12.9rem;

    .select-filter {
      ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        li {
          padding-bottom: 4.2rem;

          button {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 2.3rem;

            svg {
              width: 2.8rem;
              height: 2.8rem;
              transition: all .3s;

              path {
                fill: $cor32;
                transition: all .3s;
              }

              circle {
                stroke: $cor32;
                fill: $cor33;
                transition: all .3s;
              }
            }

            p {
              font-family: "Inter", sans-serif;
              font-weight: 600;
              font-size: 1.5rem;
              line-height: 150%;
              color: $cor35;
              transition: all .3s;
            }
          }

          &:nth-child(1) {
            svg {
              path {
                fill: $cor32;
                stroke: $cor33;
              }

              circle {
                stroke: $cor33;
                fill: $cor32;
              }
            }

            &:hover {
              svg {
                path {
                  fill: $cor40;
                  stroke: $cor33;
                }

                circle {
                  stroke: $cor33;
                  fill: $cor40;
                }
              }

              p {
                color: $cor40;

              }
            }

            .active-button {
              svg {
                path {
                  fill: $cor40;
                  stroke: $cor33;
                }

                circle {
                  stroke: $cor33;
                  fill: $cor40;
                }
              }

              p {
                color: $cor40;
              }
            }
          }

          &:nth-child(2) {
            &:hover {
              svg {
                path {
                  fill: $cor41;
                }

                circle {
                  stroke: $cor41;
                  fill: $cor33;
                }
              }

              p {
                color: $cor41;

              }
            }

            .active-button {
              svg {
                path {
                  fill: $cor41;
                  stroke: $cor33;
                }

                circle {
                  stroke: $cor33;
                  fill: $cor41;
                }
              }

              p {
                color: $cor41;
              }
            }
          }

          &:nth-child(3) {
            &:hover {
              svg {
                path {
                  fill: $cor42;
                }

                circle {
                  stroke: $cor42;
                  fill: $cor33;
                }
              }

              p {
                color: $cor42;

              }
            }

            .active-button {
              svg {
                path {
                  fill: $cor42;
                  stroke: $cor33;
                }

                circle {
                  stroke: $cor33;
                  fill: $cor42;
                }
              }

              p {
                color: $cor42;
              }
            }
          }

          &:nth-child(4) {
            &:hover {
              svg {
                path {
                  fill: $cor43;
                }

                circle {
                  stroke: $cor43;
                  fill: $cor33;
                }
              }

              p {
                color: $cor43;

              }
            }

            .active-button {
              svg {
                path {
                  fill: $cor43;
                  stroke: $cor33;
                }

                circle {
                  stroke: $cor33;
                  fill: $cor43;
                }
              }

              p {
                color: $cor43;
              }
            }
          }

          &:nth-child(5) {
            &:hover {
              svg {
                path {
                  fill: $cor44;
                }

                circle {
                  stroke: $cor44;
                  fill: $cor33;
                }
              }

              p {
                color: $cor44;

              }
            }

            .active-button {
              svg {
                path {
                  fill: $cor44;
                  stroke: $cor33;
                }

                circle {
                  stroke: $cor33;
                  fill: $cor44;
                }
              }

              p {
                color: $cor44;
              }
            }
          }

          &:nth-child(6) {
            &:hover {
              svg {
                path {
                  fill: $cor45;
                }

                circle {
                  stroke: $cor45;
                  fill: $cor33;
                }
              }

              p {
                color: $cor45;

              }
            }

            .active-button {
              svg {
                path {
                  fill: $cor45;
                  stroke: $cor33;
                }

                circle {
                  stroke: $cor33;
                  fill: $cor45;
                }
              }

              p {
                color: $cor45;
              }
            }
          }

          &:nth-child(7) {
            &:hover {
              svg {
                path {
                  fill: $cor46;
                }

                circle {
                  stroke: $cor46;
                  fill: $cor33;
                }
              }

              p {
                color: $cor46;

              }
            }

            .active-button {
              svg {
                path {
                  fill: $cor46;
                  stroke: $cor33;
                }

                circle {
                  stroke: $cor33;
                  fill: $cor46;
                }
              }

              p {
                color: $cor46;
              }
            }
          }

          &:nth-child(8) {
            &:hover {
              svg {
                path {
                  fill: $cor47;
                }

                circle {
                  stroke: $cor47;
                  fill: $cor33;
                }
              }

              p {
                color: $cor47;

              }
            }

            .active-button {
              svg {
                path {
                  fill: $cor47;
                  stroke: $cor33;
                }

                circle {
                  stroke: $cor33;
                  fill: $cor47;
                }
              }

              p {
                color: $cor47;
              }
            }
          }

          &:nth-child(9) {
            &:hover {
              svg {
                path {
                  fill: $cor48;
                }

                circle {
                  stroke: $cor48;
                  fill: $cor33;
                }
              }

              p {
                color: $cor48;

              }
            }

            .active-button {
              svg {
                path {
                  fill: $cor48;
                  stroke: $cor33;
                }

                circle {
                  stroke: $cor33;
                  fill: $cor48;
                }
              }

              p {
                color: $cor48;
              }
            }
          }

          &:nth-child(10) {
            &:hover {
              svg {
                path {
                  fill: $cor49;
                }

                circle {
                  stroke: $cor49;
                  fill: $cor33;
                }
              }

              p {
                color: $cor49;

              }
            }

            .active-button {
              svg {
                path {
                  fill: $cor49;
                  stroke: $cor33;
                }

                circle {
                  stroke: $cor33;
                  fill: $cor49;
                }
              }

              p {
                color: $cor49;
              }
            }
          }

          &:nth-child(11) {
            &:hover {
              svg {
                path {
                  fill: $cor50;
                }

                circle {
                  stroke: $cor50;
                  fill: $cor33;
                }
              }

              p {
                color: $cor50;

              }
            }

            .active-button {
              svg {
                path {
                  fill: $cor50;
                  stroke: $cor33;
                }

                circle {
                  stroke: $cor33;
                  fill: $cor50;
                }
              }

              p {
                color: $cor50;
              }
            }
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }

    .result-filter {
      width: 100%;
      border-left: 0.1rem solid $cor38;
      padding-left: 7.5rem;

      .result-top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .result {
          display: flex;
          align-items: flex-start;
          gap: 1.8rem;

          .logo {
            img {
              width: 2rem;
              height: 2rem;
            }
          }

          .text {
            h3 {
              font-family: "Montserrat", sans-serif;
              font-weight: 600;
              font-size: 1.8rem;
              line-height: 150%;
              color: $cor36;
            }

            p {
              font-family: "Inter", sans-serif;
              font-size: 1.4rem;
              line-height: 150%;
              color: $cor31;
            }
          }
        }

        .order {
          display: flex;
          align-items: center;
          gap: 1.6rem;

          img {
            width: 10px;
            height: 16px;
          }

          p {
            font-family: "Inter", sans-serif;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 150%;
            color: $cor31;
          }
        }
      }

      .result-bottom {
        margin-top: 7.9rem;

        .cards {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 3.2rem;

          .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            max-width: 28rem;
            height: 30.4rem;
            padding: 1.3rem 4rem 2.4rem 4rem;
            background: #ffffff;
            border: 0.1rem solid rgba(183, 189, 193, .3);
            box-shadow: 0rem 1rem 5.1rem -0.5rem rgba(183, 189, 193, 0.3);
            border-radius: 1.2rem;
            transition: all .3s;
            overflow: hidden;

            .pokemon-img {
              img {
                width: 20rem;
                height: 20rem;
                margin: 0 auto;

                &.fire {
                  background: url(../../assets/img/Pokemons-bg-circle/fire.png) no-repeat center center;
                }

                &.plants {
                  background: url(../../assets/img/Pokemons-bg-circle/plants.png) no-repeat center center;
                }

                &.water {
                  background: url(../../assets/img/Pokemons-bg-circle/water.png) no-repeat center center;
                }
              }
            }

            .pokemon-info {
              display: flex;
              align-items: flex-end;
              justify-content: space-between !important;
              margin-top: 1.4rem;

              .number-name {
                p {
                  font-family: 'Inter', sans-serif;
                  font-weight: 500;
                  font-size: 1.3rem;
                  line-height: 150%;
                  color: #7A7D80;
                }

                h3 {
                  font-family: 'Montserrat', sans-serif;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 1.8rem;
                  line-height: 150%;
                  color: #2F3133;
                }
              }

              .pokemon-type {
                img {
                  width: 2.2rem;
                  height: 2.2rem;
                }
              }
            }

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }

  }
}