@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin responsive($screenWidth) {
  @media (max-width: $screenWidth) {
    @content;
  }
}

@mixin responsive-ultrawide($screenWidth) {
  @media (min-width: $screenWidth) {
    @content;
  }
}