// Cores

//Escala de Vermelho
$cor01: #c90c0c;
$cor02: #f33c3c;
$cor03: #c20001;
$cor04: #ba0001;

//Escala Azul
$cor10: #3e75c3;
$cor11: #3f5db3;
$cor12: #3f67ba;
$cor13: #afc0e3;

//Escala Cinza
$cor30: #2f3133;
$cor31: #7a7d80;
$cor32: #acb9c1;
$cor33: #ffffff;
$cor34: rgba(241, 240, 245, 0.55);
$cor35: #acb9c1;
$cor36: #4d5053;
$cor37: #a0afba;
$cor38: #eff3f6;

//Escala Icons Type
$cor40: #3e75c3;
$cor41: #616EB7;
$cor42: #CE8056;
$cor43: #73B861;
$cor44: #2C6AC1;
$cor45: #6594A1;
$cor46: #EED967;
$cor47: #88A3D4;
$cor48: #F66D6D;
$cor49: #9BBA48;
$cor50: #A6BBE8;