@keyframes fadeTop {
  from {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeBottom {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    transform: scale(1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}