footer {
  .bg-red {
    background: $cor03;
  }
  .bg-blue {
    background: $cor11;
  }
  .bg-black {
    background: $cor30;
  }
  .container {
    .internal-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6.5rem 0;
      .text-footer {
        h3 {
          font-family: "Inter", sans-serif;
          font-weight: bold;
          font-size: 18px;
          line-height: 180%;
          color: $cor33;
        }
        p {
          font-family: "Inter", sans-serif;
          font-weight: 500;
          font-size: 14px;
          line-height: 180%;
          color: rgba(255, 255, 255, 0.8);
        }
      }
      .img-footer {
        img {
          width: 17.2rem;
        }
      }
    }
  }
}