.tag-type {
  display: inline-block;
  padding: 0 2.5rem;
  line-height: 2.4rem;
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: -0.01em;
  font-family: 'Montserrat', sans-serif;

  &.bug {
    color: #9BBA48;
    background-color: rgba(155, 186, 72, 0.1);
  }

  &.dark {
    color: #595761;
    background: rgba(89, 87, 97, 0.1);
  }

  &.dragon {
    color: #2C6AC1;
    background: rgba(44, 106, 193, 0.1);
  }

  &.electric {
    color: #D5BC34;
    background: rgba(238, 217, 103, 0.1);
  }

  &.fairy {
    color: #E296E1;
    background: rgba(226, 150, 225, 0.1);
  }

  &.fighting {
    color: #C44D61;
    background: rgba(196, 77, 97, 0.1);
  }

  &.ground {
    color: #CE8056;
    background: rgba(206, 128, 86, 0.1);
  }

  &.ice {
    color: #71BAAC;
    background: rgba(139, 206, 193, 0.1);
  }

  &.normal {
    color: #919191;
    background: rgba(160, 162, 159, 0.1);
  }

  &.poison {
    color: #AC6ACA;
    background: rgba(172, 106, 202, 0.1);
  }

  &.psychic {
    color: #EB8B85;
    background: rgba(235, 139, 133, 0.1);
  }

  &.rock {
    color: #84BEB3;
    background: rgba(139, 206, 193, 0.1);
  }

  &.ghost {
    color: #616EB7;
    background: rgba(97, 110, 183, 0.1);
  }

  &.grass {
    color: #73B861;
    background: rgba(92, 164, 138, 0.1);
  }

  &.steal {
    color: #6594A1;
    background: rgba(101, 148, 161, 0.1);
  }

  &.water {
    color: #4F77BE;
    background: rgba(136, 163, 212, 0.1);
  }

  &.fire {
    color: #E96303;
    background: rgba(233, 99, 3, 0.1);
  }

  &.flying {
    color: #758CBD;
    background: rgba(166, 187, 232, 0.1);
  }

}